doctype html
html(lang="ru")
	head
	meta(charset = 'utf-8')
	meta(name ="viewport", content = "initial-scale=1.0, width=device-width")
	title Veloclub
	body
		header
			button.button.button--green-border button
			button.button.button--large.button--orange-border button
			button.arrow-button.arrow-button--green.arrow-button--left-white-arrow
			div.chart
				div.chart__left-part
					div.chart__left-inner
				div.chart__right-part
					div.chart__right-inner
				span.chart__number 38
			div.pai-chart
			form.slider-form
				input.slider.slider--orange(
				type="range"
				min="0"
				max="100"
				value="40"
				step="10"
				name="slider1")
				label.slider-output(for="slider1")
			form.slider-form
				input.slider.slider--green(
				type="range"
				min="0"
				max="100"
				value="75"
				step="25"
				name="slider2")
				label.slider-output--green(for="slider2")
				ul.slider-list
					li.slider-list__item 0
					li.slider-list__item 25
					li.slider-list__item 50
					li.slider-list__item 75
					li.slider-list__item 100
		main
			h1 stages
			ul.stages-list
				li.stages-list__item 1
				li.stages-list__item 2
				li.stages-list__item 3
				li.stages-list__item.stages-list__item--grey 4
				li.stages-list__item.stages-list__item--grey 5
			form.message-form(
			name="message-form"
			method="post")
				ul.message-form-list
					li.message-form-list__item
						input.message-form__input(
						type="text"
						name="name"
						placeholder="Your Name"
						required)
						span.message-form__hint
					li.message-form-list__item
						input.message-form__input(
						type="email"
						name="email"
						placeholder="Your Email"
						required)
						span.message-form__hint
					li.message-form-list__item
						textarea.message-form__textarea(
						name="text"
						placeholder="Your Message"
						rows="4"
						required)
					li.message-form-list__item
						input.button.button--large.button--right(
						type="submit"
						)
			input.toggle.hidden#toggle(
			type="checkbox")
			label.toggle-label(for="toggle")
			input.tic-box.hidden#ticBox(
			type="checkbox")
			label.tic-box-label(for="ticBox")
			