doctype html
html(lang="ru")
	head
	meta(charset = 'utf-8')
	meta(name ="viewport", content = "initial-scale=1.0, width=device-width")
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
	title Veloclub
	body
		header
			button.button.button--green-border button
			button.button.button--large.button--orange-border button
			button.arrow-button.arrow-button--green.arrow-button--left-white-arrow
			div.chart
				div.chart__left-part
					div.chart__left-inner
				div.chart__right-part
					div.chart__right-inner
				span.chart__number 38
			div.pai-chart
			form.slider-form
				input.slider.slider--orange(
				type="range"
				min="0"
				max="100"
				value="40"
				step="10"
				name="slider1")
				label.slider-output(for="slider1")
			form.slider-form
				input.slider.slider--green(
				type="range"
				min="0"
				max="100"
				value="75"
				step="25"
				name="slider2")
				label.slider-output--green(for="slider2")
				ul.slider-list
					li.slider-list__item 0
					li.slider-list__item 25
					li.slider-list__item 50
					li.slider-list__item 75
					li.slider-list__item 100
		main
			h1 stages
			ul.stages-list
				li.stages-list__item 1
				li.stages-list__item 2
				li.stages-list__item 3
				li.stages-list__item.stages-list__item--grey 4
				li.stages-list__item.stages-list__item--grey 5
			form.message-form(
			name="message-form"
			method="post")
				ul.message-form-list
					li.message-form-list__item
						input.message-form__input(
						type="text"
						name="name"
						placeholder="Your Name"
						required)
						span.message-form__hint
					li.message-form-list__item
						input.message-form__input(
						type="email"
						name="email"
						placeholder="Your Email"
						required)
						span.message-form__hint
					li.message-form-list__item
						textarea.message-form__textarea(
						name="text"
						placeholder="Your Message"
						rows="4"
						required)
					li.message-form-list__item
						input.button.button--large.button--right(
						type="submit"
						)
			input.toggle.hidden#toggle(
			type="checkbox")
			label.toggle-label(for="toggle")
			input.tic-box.hidden#ticBox(
			type="checkbox")
			label.tic-box-label(for="ticBox")
			form.searching-form(
			action=""
			method="get")
				p.searching-form__content
					label.hidden(for="search") Searching form
					input.searching-form__input#search(
					type="text"
					name="search"
					placeholder="Search")
					button.button.searching-form__button(
					type="submit")
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14px" height="14px")
							path(fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M13.392,13.539 C12.844,14.088 11.955,14.088 11.406,13.539 L7.864,9.997 C5.920,11.126 3.396,10.877 1.731,9.213 C-0.252,7.229 -0.252,4.013 1.731,2.030 C3.715,0.046 6.931,0.046 8.914,2.030 C10.493,3.608 10.793,5.959 9.860,7.856 L13.474,11.471 C14.023,12.019 13.941,12.991 13.392,13.539 ZM7.631,3.312 C6.356,2.037 4.289,2.037 3.014,3.312 C1.739,4.588 1.739,6.655 3.014,7.930 C4.289,9.205 6.356,9.205 7.631,7.930 C8.907,6.655 8.907,4.588 7.631,3.312 Z")
			div.menu-wrapper
				ul.menu-list
					li.menu-list__item
						p.dropdown-menu__option Choose An Option
					li.menu-list__item.button.dropdown-menu__button
						ul.dropdown-menu-list
							li.dropdown-menu-list__item
								a.dropdown-menu__link(href="#") This is option 1
							li.dropdown-menu-list__item 
								a.dropdown-menu__link(href="#") This is option 2
							li.dropdown-menu-list__item 
								a.dropdown-menu__link(href="#") This is option 3
							li.dropdown-menu-list__item 
								a.dropdown-menu__link(href="#") This is option 4
			div.container
				div.user-profile
					div.user-profile__avatar
						img.user-profile__img(src="images/user1.png")
					div.user-profile__info
						p.user-profile__name John Smith
						p.user-profile__proffesion UX Designer
						ul.user-profile-list
							li.user-profile-list__item
								a.user-profile__link.user-profile__link--grey(href="#")
									i.fab.fa-facebook-f
							li.user-profile-list__item
								a.user-profile__link.user-profile__link--orange(href="#")
									i.fab.fa-twitter
							li.user-profile-list__item
								a.user-profile__link.user-profile__link--grey(href="#")
									i.fab.fa-dribbble
				div.user-profile
					div.user-profile__avatar
						img.user-profile__img(src="images/user2.png")
					div.user-profile__info.user-profile__info--green
						p.user-profile__name.user-profile__name--white Sarah Brown
						p.user-profile__proffesion.user-profile__proffesion--white Developer
						ul.user-profile-list
							li.user-profile-list__item
								a.user-profile__link(href="#")
									i.fab.fa-facebook-f
							li.user-profile-list__item
								a.user-profile__link(href="#")
									i.fab.fa-twitter
							li.user-profile-list__item
								a.user-profile__link(href="#")
									i.fab.fa-dribbble
